.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}
.counter-container{padding: 60px;}

input{width: 200px;height: 80px;text-align: center;}
button{border:none;height: 80px;width: 40px;background-color  :greenyellow;}
